@import url('../login/login.component.css');
.login-page-bg {
    background-image: url('/assets/img3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
