.login-page-bg {
    background-image: url('/assets/img2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card {
    background-color: #1e1e1e4d; 
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
    border: 1px solid #333;
}

.dark-input {
    background-color: #2a2a2a;
    color: white;
    border: 1px solid #444;
    padding: 10px;
    transition: border-color 0.3s;
}

.dark-input:focus {
    background-color: #2a2a2a;
    color: white;
    border-color: #007bff; 
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.login-btn {
  background: linear-gradient(45deg, #0dcaf0, #212529);
    font-weight: bold;
    padding: 10px 0;
    transition: background-color 0.3s;
    border-radius: 20px;
    color: white;
}

.login-btn:hover {
  background: linear-gradient(45deg, #0acef6, #2f353b);
}

.register-link {
    font-weight: bold;
    text-decoration: none;
}