
.admin-container {
    height: 100vh;
 background-image: url('/assets/img11.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;

}


.mt-7 {
    margin-top: 7%;
}

.card {
    background-color: transparent !important;
    color: white;
}